In [3]:
x=10
print(x)

10

In [ ]:
#Python is a free to use programming language
#Python was created in 1991
#Its a scalable language
#Its a open source language

In [ ]:
#Python has Variables and Values
#Variables are just like container that stores the values

#Python has 2 types of functions, 
#System defined functions : Case Sensitive : Lowercase
#User defined fucntions : Not Case Sensitie : Lowercase and Uppercase

In [10]:
#Basic Calculation

#Addition

a = 10; b = 20

print (a+b)

#Substract

print(a-b)

#Multiply

print(a*b)

#Divide

print(a/b)

#Square

print(a**2)

#Cube

print(a**3)

30
-10
200
0.5
100
1000

In [ ]:
#Data Types

#Python has 2 data types : Numerical and Textual
#It has two interger datatype (int) and (float)

In [11]:
t=15
print(t)
print(type(t))

15
<class 'int'>

In [12]:
T=9.89
print(T)
print(type(T))

9.89
<class 'float'>

In [13]:
#String data 

a = "Sparsh Mathur"
print(a)
print(type(a))

Sparsh Mathur
<class 'str'>

In [15]:
#Add 2 strings

p = "Sparsh" ; q= "Mathur"

print(p+" "+q)

Sparsh Mathur

In [16]:
#Input Functions
name = input("Enter your name: ")
print("The entered name is ", name)

Enter your name: Sparsh Mathur
The entered name is  Sparsh Mathur

In [17]:
email = input("Please enter your email id: ")
print ("The entered email id is ", email)

Please enter your email id: sparshmathur@gmail.com
The entered email id is  sparshmathur@gmail.com

In [19]:
age = int(input("Enter the Age: "))
print("The user age is ", age)

Enter the Age: 24
The user age is  24

In [20]:
    name = input("Enter your name: ")
    print("The entered name is ", name)
    age = int(input("Enter the Age: "))
    print("The user age is ", age)
    city = input("Enter your city: ")
    print("The entered city is ", city)

Enter your name: Sparsh
The entered name is  Sparsh
Enter the Age: 24
The user age is  24
Enter your city: Delhi
The entered city is  Delhi

In [26]:
x= int(input("Enter number 1: "))
y= int(input("Enter number 2: "))

add = x+y
print ("The sum is" , add)

Enter number 1: 23
Enter number 2: 23
The sum is 46

In [24]:
    rev= int(input("Enter Revenue"))
    exp= int(input("Enter Exp"))

    print ("The net profit is", rev-exp)

Enter Revenue2000
Enter Exp500
The net profit is 1500

In [27]:
USD = int(input("Enter USD you want to convert: "))

INR = USD*83

print ("The inr value of your USD is", INR)

Enter USD you want to convert: 1000
The inr value of your USD is 83000

In [28]:
#Boolean Data Type

s=24

print (s==23)

False

In [29]:
f= False
print(type(f))

<class 'bool'>

In [31]:
#if else
a=3.5
if a==3.5:
    print("True")
else:
    print("False")

True

In [33]:
#if else with Input
#Accept two numbers from user and check which one is greater

x= int (input("enter first number : "))
y= int (input("enter Second number : "))

#condition

if x>y:
    print("x is greater than y")
else:
    print("x is smaller than y")

enter first number : 5
enter Second number : 5
x is smaller than y

In [35]:
#else if
#conditional statements
#Accept two numbers from user and check which one is greater

x= int (input("enter first number : "))
y= int (input("enter Second number : "))

#condition

if x>y:
    print("x is greater than y")
elif x==y:
    print("x is equal to y")
else:
    print("X is smaller than y")

enter first number : 5
enter Second number : 5
x is equal to y

In [2]:
x= int (input("enter your age : "))

#condition


if x>0 and x<12:
    print("x is 0-12")
elif x>13 and x<19:
    print("x is 13-19")
else:
    print("X is 20 or older")

enter your age : 15
x is 13-19

In [6]:
leap = int(input("Enter the Year"))

#condition

if leap%4==0 and leap%100!=0:
    print("the entered year is leap year")
    
elif leap%400==0 and leap%100==0:
    print("the entered year is leap year")
else:
    print("Entered year is not leap year")

Enter the Year2023
Entered year is not leap year

In [8]:
x= int (input("enter your total marks : "))

#condition


if x>90 :
    print("Your Grade is A")
elif x>80 and x<90:
    print("Your Grade is B")
elif x>70 and x<80:
    print("Your Grade is C")
elif x>60 and x<70:
    print("Your Grade is D")    
else:
    print("Your Grade is F")

enter your total marks : 33
Your Grade is F

In [ ]:
#Data Structures
#List [] : Mutable
#Tuple () : Immutable 
#Dictionary {}

In [ ]:
#Lists
#All data structures can be passed
#Lists are Mutable, editable, changed, altered

In [10]:
new_list = ['apple',8.5,9,True]
print (type(new_list))

<class 'list'>

In [13]:
#access the elements

#Python uses 0 based indexing
#first item at 0

print(new_list[3])
print(new_list[:3])

True
['apple', 8.5, 9]

In [15]:
#Modifying List

new_list[2] = "Bangalore"

print(new_list)

['apple', 8.5, 'Bangalore', True]

# .append()

In [16]:
#adding items in the list
# .append() : to add a new item at end of list

new_list.append("Data Analyst")

print(new_list)

['apple', 8.5, 'Bangalore', True, 'Data Analyst']

In [17]:
#checking the length of the list
#len()

print (len(new_list))

5

In [18]:
#Reverse

new_list.reverse()
new_list

['Data Analyst', True, 'Bangalore', 8.5, 'apple']

In [ ]:
#insert Function

new_list.insert

In [19]:
#Sorted Function

x= int (input("enter first number : "))
y= int (input("enter second number : "))
z= int (input("enter third number : "))

#sort in ascending

sorted_numbers = sorted([x,y,z])

print("Ascending order is ", sorted_numbers)

enter first number : 12
enter second number : 22
enter third number : 3
Ascending order is  [3, 12, 22]

In [ ]:
#temp =float

celsius = float(input("Enter the temp"))

fnyt = (celsius

In [20]:
#count()

my_lst = [1,2,3,2]

count = my_lst.count(2)

count

2

In [21]:
#pop functon
#removes and returns an utem at a specfed ndex

my_lst = [1,2,3,4]

my_lst.pop(2)

my_lst

[1, 2, 4]

# TUPLES : ()

In [26]:
#TUPLES : ()
#Parentheses

my_tuple = (1,2,3,4)

my_tuple

print(len(my_tuple))

4

In [27]:
tuple1 = (12,13,14)
tuple2 = (15,16,17)

concat_tuple = tuple1 + tuple2

concat_tuple

(12, 13, 14, 15, 16, 17)

In [28]:
my_tuple = (1,2,3,4)

exists = 1 in my_tuple

exists

True

In [29]:
#maximum and minimum

my_tuple = (1,2,3,4,5,6,7,8,9)

max_val = max(my_tuple)
min_val = min(my_tuple)

print("The max value is", max_val,"and","The min value is: ", min_val)

The max value is 9 and The min value is:  1

# Dictionary

In [30]:
#{}
#Key value Pair

a = {'name':'Sparsh','age':25,'city':"Gwalior"}

print(a)

print(type(a))

{'name': 'Sparsh', 'age': 25, 'city': 'Gwalior'}
<class 'dict'>

In [31]:
#Dictionary is used to pass multiple values you pass it in a list

student_records = {'Name':['Sparsh','Mathur','Manyavar'],
                  'Age':[20,25,25],
                  'College':['abc','bcd']}
student_records

{'Name': ['Sparsh', 'Mathur', 'Manyavar'],
 'Age': [20, 25, 25],
 'College': ['abc', 'bcd']}

# For Loops

# Syntax

# for variable in item:
  # print ("#####")

In [3]:
fruits = ["apple","Banana","Strawberry","MAngo"]

for x in fruits:
    print("I like", x)

I like apple
I like Banana
I like Strawberry
I like MAngo

In [5]:
word = "Python is a cool language"

for a in word:
    print(a)

P
y
t
h
o
n

i
s

a

c
o
o
l

l
a
n
g
u
a
g
e

In [8]:
num = (1,2,3,4,5)

for n in num:
    sqr = n**2
    
    print(sqr)

1
4
9
16
25

In [9]:
m = "I like you"
for x in m:
    print(x,end='')

I like you

In [15]:
a = [1,2,3,4,5,6,7,8,9,10]

evenList = []
oddList = [] #empty list store

for i in a:
    if i%2==0:
        evenList.append(i)
    else:
        oddList.append(i)
        
print(evenList)
print(oddList)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [16]:
#enumerate : index : Pair

a = [1,2,3,4,5,6]

for i,j in enumerate(a):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6

In [18]:
#Range

for i in range(1,6): #start #Stop
   print(i)

1
2
3
4
5

# Dictionary

In [ ]:
#Key value pairs

In [22]:
dict_new = {"Name" : "Sparsh", 
            "Age" : 25, 
            "City" :"GWL"}

In [23]:
dict_new

{'Name': 'Sparsh', 'Age': 25, 'City': 'GWL'}

In [24]:
print(dict_new.keys())
print('\n')
print(dict_new.values())

dict_keys(['Name', 'Age', 'City'])


dict_values(['Sparsh', 25, 'GWL'])

In [25]:
#more example
info = {"Name": 'Sparsh',
       "Age": 25,
       "city": "Gwalior"}

info

{'Name': 'Sparsh', 'Age': 25, 'city': 'Gwalior'}

In [28]:
print('Name and city is  ' + info["Name"] + " " + info["city"])

Name and city is  Sparsh Gwalior

# Functions In Python

In [ ]:
# functions in python
# block of code which only runs when it is called
# 1. execution of function : write the main function : arguements
# 2. calling a function : show the output : parameters
# syntax
def func_name(#arguments: inputs):
  print/ return : o/p
func_name(#parameters)

In [2]:
#Function to add no

def add_number(a,b):
    return a+b

In [3]:
add_number(300,100)

400

In [5]:
def intro_func():
    print("Hello, Welcome to Mars!!")
    
intro_func()

Hello, Welcome to Mars!!

In [11]:
def mul_number(a,b):
    return a*b

In [12]:
mul_number(300,400)

120000

In [20]:
def about_me(name,city,profession):
    print("My name is",name)
    print("My city is",city)
    print("My profession is",profession)
    
about_me("Sparsh","Gwalior","Data Analyst")

My name is Sparsh
My city is Gwalior
My profession is Data Analyst

In [24]:
def check_no(number):
    if number>0:
        return "positive"
    elif number<0:
        return "Negative"
    else:
        return "zero"

In [25]:
check_no(-21)

'Negative'

In [34]:
# function that returns the day of the weeek based in input
# 1 ..Monday
def get_dayOfTheWeek(day_number):
    if day_number==1:
        return "Monday...."
    elif day_number==2:
        return "Tuesday...."
    elif day_number==3:
        return "Wednesday....."
    elif day_number==4:
        return "Thursday..."
    elif day_number==5:
        return "Friday..."
    elif day_number==6:
        return "Saturday..."
    elif day_number==7:
        return "Sunday...."
    else:
        return "Kya phoonk ke aya hai be...."

In [35]:
get_dayOfTheWeek(2)

'Tuesday....'

In [40]:
#function with if-elif-else loop
def insurance(age):
    if (age>=45):
        print("Insurance will cost you 40,000")
    elif (age>=30) & (age<=44):
        print("Insurance will cost you 35,000")
    elif (age>=18) & (age<=29):
        print("Insurance will cost you 25,000")
    else:
        print("Insurance will cost you 20,000")
    return age

In [41]:
insurance(17)

Insurance will cost you 20,000

17